 /*内容*/ 
 .con {
 	padding: 5px 20px;
 } 
.index .con {padding: 0;}
.index .con .conhead{
 	margin-top: 44px;
	height:250px;
	width: 100%;
	background-color: #fff; 
	background: url(../img/index/indexbg.png) no-repeat;
	background-size: 100% auto;
	position: relative;
}
.index .con .conheadul{
	width: 100%; 
	position: absolute;
	bottom: 16px;
	padding: 10px 8px; 
} 
.index .con .conheadulcon{
	background-color: #fff;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	height: 60px; 
	padding: 10px;
} 
.index .con .conheadulcon .headimg{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.index .con .conheadulcon ul{ 
	width: calc((100% - 150px)/2);
	padding: 0px 8px;
} 
.index .con .confootul{ 
	padding: 10px 8px; 
}
.index .con .confootul li{
	text-align: center;
	padding: 10px 0px;
	border: 1px #F3F3F3 solid;
	width: 33.33%;
} 
.index .con .confootul li p{
	padding-top: 10px;
}
.list-pool-father{
	position: fixed;
	top: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	color: white !important ;
}
.list-pool{
	width: 100%;
	position: relative;
	top: 20%;
	padding: 30px;
}
.list-pool h4{
	margin-bottom: 30px;
}
.list-pool ul{
	width: 100%;
}
.list-pool ul li{
	width: 100%;
	height: 80px;
	margin-bottom: 15px;
}
.list-pool ul li div:nth-child(1){
	background-color: #000;
	height: 80px;
	width: calc(100% - 80px);
	padding: 16px;
}
.list-pool ul li div:nth-child(1) h3{
	line-height: 46px;
	
}
.list-pool ul li div:nth-child(2){
	background-color: #fff;
	width: 80px;
	height: 80px;
	padding: 15px; 
}
.list-pool .removep{
	margin-top: 40px;
}
.list-pool .removep span{
	border: 1px #fff solid;
	width: 40px;
	height: 40px;
	line-height:40px;
	color: #fff;
	display: inline-block;
	font-size: 25px;
	border-radius: 50%; 
}
