/*公共*/
 
/*移动端*/
.mui-content{
	background-color: rgba(0,0,0,0);
}
.mui-title {
	color: #fff;
	/*line-height: 28px;*/
}
.mui-bar-tab span{
	display: inline-block;
	width: 100%;
	border-right: 1px #fff solid;
}
.mui-bar-nav-bg {
	background: #287DB6;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
	/*height: 60px;*/
	/*padding-top: 9px;*/
}
.mui-bar-nav-bg a{
	color: #fff !important; 
}
 .mui-title p {
	/*line-height: 1;*/
}
.mui-bg-blue{ 
	background: #287DB6;
}
.mui-bg-white{ 
	background: #fff !important; 
}
.mui-bg-gray{ 
	background: #F2F2F2;
}
/*border*/

.border0 {
	border: 0 !important;
}

.borderlf0 {
	border-left: 0 !important;
}
.borderrdashed {
	border-right: 1px #fff dashed;
}
.borderrsolid {
	border-right: 1px #fff solid;
}
.borderlsolidblue {
	border-left: 3px #287DB6 solid;
}
.btmd {
	border-bottom: 1px #DEDEDE dotted;
}
.btms {
	border-bottom: 1px #DEDEDE solid;
} 

.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
/*margin*/
.marginb0{
	margin-bottom: 0;
}

/*padding*/
.padding0 {
	padding: 0px !important;
}
.paddinglf0 {
	padding-left: 0px !important;
}

.paddinglf6 {
	padding-left: 6px !important;
}
.paddinglf15 {
	padding-left: 15px !important;
}
.paddingtb2 {
	padding: 2px 0px !important;
} 
/*color*/

.colorwhite {
	color: #fff !important;
}

.colorgreen {
	color: #00CE7D !important;
}

.colorblue {
	color: #1090E1 !important;
}
.colororange {
	color: rgba(250,159,71, 1) !important;
}
.colorgreen {
	color: rgba(61,215,200, 1) !important;
}
.colorlinered {
	color: #CA513A !important;
}

.colorred {
	color: #D0021B !important;
}

.coloryellow {
	color: #F5A623 !important;
}

.colorgray {
	color: #7D8286 !important;
}

.colorblack {
	color: #000 !important;
}

.bgcolorblue {
	background-color: rgba(33, 128, 210, 1) !important;
}
.bgcolororange {
	background-color: rgba(250,159,71, 1) !important;
} 
.bgcolorred {
	background-color: rgba(235, 104, 103, 1) !important;
}

.bgcolorgray {
	background-color: #7D8286 !important;
}

.bgcolorgreen {
	background-color: rgba(61,215,200, 1) !important;
}

.bgcoloryellow {
	background-color: rgba(247, 133, 79, 1) !important;
}

.text-yellow {
	color: #e7e984 !important;
}

.text-green {
	color: #7ed321 !important;
}

.text-red {
	color: #d0021b !important;
}
 .text-blue {
	color: #64B9EB !important;
}
 .text-blue-deep {
	color: #287DB6 !important;
}
/*shadow*/

.redshadow {
	color: #D0021B !important;
	text-shadow: 0px 0px 20px #D0021B;
}

.yellowshadow {
	color: #F5A623 !important;
	text-shadow: 0px 0px 20px #F5A623;
}

.greenshadow {
	color: #7ED321 !important;
	text-shadow: 0px 0px 20px #7ED321;
}

/*width*/
.width110px{width: 110px !important;}
.width100{width: 100%;height: auto;}
.height100{height: 100%; width: auto;}

/*font*/

.fontsize12 {
	font-size: 12px !important;
	font-family: "Microsoft YaHei !important";
}

.fontsize13 {
	font-size: 13px !important;
	font-family: "Microsoft YaHei !important";
}

.fontsize14 {
	font-size: 14px !important;
	font-family: "Microsoft YaHei  !important";
}

.fontsize15 {
	font-size: 15px !important;
	font-family: "Microsoft YaHei  !important";
}

.fontsize16 {
	font-size: 16px !important;
	font-family: "Microsoft YaHei  !important";
}

.fontsize18 {
	font-size: 18px !important;
	font-family: "Microsoft YaHei  !important";
}

.fontsize20 {
	font-size: 20px !important;
	font-family: "Microsoft YaHei  !important";
}

.fontsize22 {
	font-size: 22px !important;
	font-family: "Microsoft YaHei  !important";
}

.fontsize25 {
	font-size: 25px !important;
	font-family: "Microsoft YaHei  !important";
}

.fontfamily {
	font-family: "DIN Condensed" !important;
}

.row {
	margin: 0;
}

.btline {
	border-bottom: 1px #ccc dotted;
}
.border0{border: 0px !important;}

.lh30 { 
	line-height: 30px;
}
.lh44 { 
	line-height: 44px;
}
.lh64 { 
	line-height: 64px;
}

.lh100 {
	height: 100px;
	line-height: 100px;
}
.hide{
	display: none !important;
}
#main1 div:nth-child(2) {
	background-color: #fff !important;
}


/*字体*/

@font-face {
	font-family: "DIN Condensed";
	src: url("../plugins/bootstrap/fonts/pt-din-condensed-cyrillic.woff");
	font-weight: normal;
}

.navlihover a {
	color: #32CBB6 !important;
	border-bottom: 2px #32CBB6 solid !important;
}

.warnlihover a {
	color: #000 !important;
	font-weight: bold;
}


/*表格*/

table {
	min-width: 100%;
	/*background-color: rgba(0,0,0,0.4);*/
	color: #B6BEC1;
}

.table-responsive {
	border: 0px solid #ddd;
}

table .namef {
	width: 160px;
}

table .namef .name {
	margin-bottom: 0;
	border-right: 1px #313B44 solid;
	width: 160px;
}

table .name li {
	float: left;
	display: inline-block;
	width: 50%;
}

table .name li:nth-child(1) {
	text-align: left;
	padding-left: 10px;
}

table .name li:nth-child(2) {
	text-align: right;
	padding-right: 10px;
}

table td {
	text-align: center;
	line-height: 45px;
	padding: 0px 5px;
	/* width: 80px; */
}

#item_list {
	border: 0;
	border-bottom: 1px #313B44 solid;
	padding: 0;
	/*font-family: "DIN Condensed";*/
	font-size: 15px;
	cursor: pointer;
} 
/*table thead {
	background: rgba(0, 0, 0, 0.3);
} 
tbody tr:nth-child(odd) {
	background: rgba(0, 0, 0, 0);
} 
tbody tr:nth-child(even) {
	background: rgba(0, 0, 0, 0.3);
}*/
table.heating td {
	text-align: center;
	line-height: 20px;
	padding: 10px 5px;
	/* width: 80px; */
}
table.heating.border td {
	border: 1px #E4E4E4 dashed;
}
table.heating thead {
	background: rgba(255, 255, 255, 1);
	color:#61B8EA ;
	font-weight: bolder; 
} 
table.heating tbody{
	color:#717476 ;
}
table.heating tbody tr:nth-child(odd) {
	background: rgba(235,250,255, 1);
} 
table.heating tbody tr:nth-child(even) {
	background: rgba(255, 255, 255, 1);
}
/*表单按钮*/
.footer { 
	position: fixed; 
	z-index: 1000;
	bottom: 0;
	background: #F2F2F2;
	width: 100%;
	padding:10px ;
	text-align: center;
} 
.footer button{
	padding: 8px 25px;
}
.btn-primary{
	padding: 8px 25px !important;
	background-color: #2AABE4 !important;
	color: #fff !important;
	border: 0 !important;
}
.btn-primary-transprant{
	padding: 7px 24px !important;
	background-color: #fff !important;
	color: #2AABE4 !important; 
	border:1px #2AABE4 solid ;
}
.btn-success{
	padding: 8px 25px !important;
	background-color: #7ED321 !important;
	color: #fff !important;
	border: 0 !important;
}

 