.mui-bar{
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
.robbery_nav{
	padding: 10px;
}
.robbery_nav ul{
	border: 1px #fff solid; 
	border-radius: 4px;
}
.robbery_nav ul li{
	padding: 8px;
}
.liactive{
	background-color: #fff; 
}
.liactive a{
	color: #000 !important;
}
#robbery_list { 
	padding: 10px;
	border-radius: 4px;
	height: calc(100vh - 105px); 
	overflow: auto;
}
#robbery_list li{
	padding: 10px 15px;
	margin-bottom: 10px;
	line-height: 20px;
	height: 85px;
}
#robbery_list .licon{
	width: calc(100% - 32px);
}
#robbery_list .inspection_mark {
	padding-top: 5px;
}
#robbery_list .inspection_mark span{
	padding: 3px 8px;
	margin-right: 5px;
}
#robbery_list .inspection_mark .red{
	background: #FEECEE;
	color: #DC4255;
}
#robbery_list .inspection_mark .orange{
	background: #FFF7EA;
	color: #F7B953;
}
#robbery_list .inspection_mark .blue{
	background: #EDF5FF;
	color: #75AAEA;
}
#robbery_list .liimg{
	width: 32px;
	height:65px;
	line-height: 65px;
}



